/* Header */
.header {
  background: rgb(126, 124, 124);
  z-index: 1;
  position: relative;
}

.header .madmer-menu .nav-item .nav-link {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 23px;
  text-transform: uppercase;
  color: White !important;
  padding: 0 10px !important;
}

.header .btn {
  border-radius: 5px;
  font-size: 14px;
  padding: 5px 5px;
  cursor: pointer;
}


/* footer */
.footer {
  background-color: rgb(66, 65, 65);
  color: white;
  padding-top: 3px;
}

.footer .container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.footer.row {
  margin-left: -15px;
  margin-right: -15px;
}

.footer .col-md-4,
.col-md-6 {
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 30px;
}

.footer a {
  color: white;
  text-decoration: none;
}

.footer ul {
  list-style: none;
  padding: 0;
}

.footer h3 {
  color: white;
  margin-bottom: 20px;
}

.all-footer-tag h3::after {
  content: " ";
  position: absolute;
  width: 47px;
  left: 0;
  height: 5px;
  bottom: -10px;
}

.footer .socials-link {
  list-style: none;
  padding: 0;
  display: inline-block; /* Display the list in a single line */
}

.footer .socials-link li {
  display: inline-block;
  margin-right: 10px; /* Adjust spacing between social icons */
}

.footer .socials-link img {
  width: 30px;
  height: 30px;
  filter: invert(75%) sepia(100%) saturate(500%) hue-rotate(90deg);
}

.footer .down-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px;
  border-top: 1px solid;
  margin-top: 20px;
}

.footer .down-footer p {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 500;
  font-size: 18px;
  line-height: 19px;
  text-transform: capitalize;
  color: 0.7c7c7c;
}

.footer .down-footer a {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 500;
  font-size: 18px;
  line-height: 19px;
  text-transform: capitalize;
  color: 0.7c7c7c;
}

.footer .down-footer a:hover {
  color: white; /* Change text color on hover */
}
@media (max-width: 768px) {
  .col-md-4,
  .col-md-6 {
    flex-basis: 50%;
  }
}

@media (max-width: 576px) {
  .col-md-4,
  .col-md-6 {
    flex-basis: 100%;
  }
}

/* Tensikahlo */

.tennis-hero-sec {
  /* background-image: url(../../img/landing/hero-bg.jpg); */
  background-color: gray;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: -102px;
  background-size: cover;
  padding: 178px 0 16px;
}

.ultime-box h1 {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 600;
  font-size: 44px;
  line-height: 65px;
  text-transform: uppercase;
  color: white;
  margin-bottom: 25px;
}

ultime-box p {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 37px;
  text-transform: capitalize;
  color: #ffffff;
}

.download-app-btn {
  position: relative;
  z-index: 1;
  margin-top: 40px;
}

.download-app-btn img {
  overflow-clip-margin: content-box;
  overflow: clip;
}

/* tennis-khelo-app-sec */
section.tennis-khelo-app-sec {
  padding: 70px 0;
}

.pro-player {
  position: relative;
  width: 100%;
}

.pro-player .overlay {
  position: absolute;
  bottom: 0;
  z-index: 1;
  left: 0;
  right: 0;
  overflow: hidden;
  width: 100%;
  height: 50px;
  transition: 0.5s ease;
}

.overlay .text {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  width: 100%;
  line-height: 37px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.pro-player .text {
  position: absolute;
  top: 30%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.read-whole {
  margin-top: 30px;
}


/* App Functionlity */
section.app-functionality-sec {
  background-color: gray;

  padding: 50px 0;
}

.app-functi-text {
  text-align: center;
  margin-bottom: 40px;
}

.app-functi-text h2 {
  position: relative;
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 120%;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 20px;
}

.app-functi-text p {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  color: #FFFFFF;
}

.functi-tabs {
  display: flex;
  max-height: 566px;
}

.functi-tabs .nav {
  flex-direction: column;
  border-bottom: none;
  width: 18%;
  padding-top: 70px;
}



.download-khelo-app {
  position: relative;
  padding: 50px 0;
  text-align: center;
  background: linear-gradient(100.58deg, #004C3B 0.54%, #008F70 100%);
  margin-top: -112px;
  position: relative;
}
.functi-tabs li {
  display: list-item;
  text-align: -webkit-match-parent;
}

.functi-tabs li.nav-item button.active, .functi-tabs li.nav-item button:hover {
  background: none;
  border-left: none;
  border-top: none;
  border-radius: 0px;
  color: #14AE8D;
  border-bottom: none;
  
}
.functi-tabs .tab-content {
  width: 78%;
}

.functi-tabs .tab-content .tab-pane.active.show {
  display: flex;
}

.my-league-text {
  padding-top: 70px;
  margin-left: 48px;
}

.my-league-text h3 {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 33px;
  text-transform: capitalize;
  color: #FFFFFF;
  margin-bottom: 20px;
}


.my-league-text p {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #d82525;
  opacity: 0.8;
}  

.app-future {
  margin-top: 50px;
}

.app-future Link.view-app {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  padding: 16px 40px;
  text-transform: uppercase;
  color: #008F70;
  border: 1px solid #008F70;
}

Link:-webkit-any-link {
  color: -webkit-link;
  cursor: pointer;
  text-decoration: underline;
}

.download-app-btn {
  position: relative;
  margin-top: 40px;
  z-index: 1;
}
/* AboutTennsi */
section.about-tennis-sec {
    padding: 50px 0;
    background-color: gray;
    /* background-image: url(../../img/landing/about-bg.png); */
    background-repeat: no-repeat;
    background-position: center;
}


.about-tennis-tex h2 {
  position: relative;
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 600;
  font-size: 54px;
  line-height: 89px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 13px;
}

.about-tennis-tex p {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #FFFFFF;
  opacity: 0.8;
}

.app-future {
  margin-top: 50px;
}

.app-future a.view-app {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  padding: 16px 40px;
  text-transform: uppercase;
  color: #008F70;
  border: 1px solid #008F70;
}

/* Tournament */

section.tournament-sec {
  padding: 50px 0;
}

.tournament-heading {
  display: flex;
  justify-content: space-between;
}

.tournament-heading h2 {
  position: relative;
  width: 590px !important;
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 120%;
  text-transform: uppercase;
  color: #FFFFFF;
}

.tournament-heading Link {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  text-transform: uppercase;
  color: #008F70;
}

.tournament-box {
  margin-top: 44px;
}

.tournament-box .slick-prev {
  left: 37px;
  background: #fff;
  height: 40px;
  width: 40px;
  z-index: 1;
  border-radius: 50px;
}
.slick-slider .slick-list {
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
  -o-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

.tournament-box .slick-track {
  display: flex;
  align-items: center;
}

.slick-initialized .slick-slide {
  display: block;
}
.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}

.latest-play {
  height: 380px;
  opacity: 0.4;
  overflow: hidden;
}
.latest-play {
  display: flex;
  align-items: center;
  background: linear-gradient(100.58deg, #004C3B 0.54%, #008F70 100%);
}

/* player ranking */

section {
  display: block;
}

section .player-ranking {
  padding: 50px 0;
}

.ranking-box h2::after {
  content: "Player & Ranking ";
  text-transform: uppercase;
  position: absolute;
  left: 0;
  right: 0;
  font-style: normal;
  font-weight: 600;
  top: -27px;
  z-index: 0;
  line-height: 89px;
  font-size: 55px;
  -webkit-text-stroke-width: 0.1px;
  -webkit-text-stroke-color: #008f701e;
  -webkit-text-fill-color: #080a0d00;
  font-family: Impact, Charcoal, sans-serif;
}

.ranking-box h2 {
  position: relative;
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 120%;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 15px;
}

.ranking-box p {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  color: #FFFFFF;
}

.ranking-box h3 {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 33px;
  text-transform: capitalize;
  color: #FFFFFF;
  margin: 50px 0 25px;
}

.app-future {
  margin-top: 50px;
}

.app-future Link.down-app {
  background: #008F70;
  font-family: 'Oswald';
  border: 1px solid #008F70;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  padding: 16px 40px;
  border: 1px solid #008f70;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-right: 40px;
}

.top-player-box {
  background: linear-gradient(100.58deg, #004C3B 0.54%, #008F70 100%);
}

.player-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 35px 30px;
}
.player-head h3 {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 33px;
  text-transform: capitalize;
  color: #FFFFFF;
}
form {
  display: block;
  margin-top: 0em;
}

ul {
  padding: 0;
  list-style: none;
}

.view-all-box {
  text-align: center;
  padding: 30px 0;
}

.view-all-box Link {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  text-decoration-line: underline;
  text-transform: uppercase;
  color: #FFFFFF;
}

/* Findnear */

section.find-nearby-sec {
  text-align: center;
  background-color: grey;
  padding: 116px 0;
  /* background-image: url(../../img/landing/nearby-bg.jpg); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.nearbybox {
  max-width: 782px;
  margin: auto;
}
.nearbybox h2 {
  position: relative;
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 59px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 8px;
}
.nearbybox p {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  color: #FFFFFF;
}
.nearbybox h3 {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 33px;
  text-transform: capitalize;
  color: #FFFFFF;
  margin: 35px 0 25px;
}

.find-nearby-sec .app-future {
  margin-top: 50px;
}

.nearbybox .app-future a.down-app {
  margin-right: 0;
}

.app-future a.down-app {
  background: #008F70;
  font-family: 'Oswald';
  border: 1px solid #008F70;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  padding: 16px 40px;
  border: 1px solid #008f70;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-right: 40px;
}

section.photo-gallery-sec {
  text-align: center;
  padding: 50px 0;
}
.photo-gallery-sec h2 {
  position: relative;
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 44px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 15px;
}

.photo-gallery-sec p {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 55px;
}


/* background-image: url(../public/border-b.png); */
