/* Header */
.header {
  background: rgb(126, 124, 124);
  z-index: 1;
  position: relative;
}

.header .madmer-menu .nav-item .nav-link {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 23px;
  text-transform: uppercase;
  color: White !important;
  padding: 0 10px !important;
}

.header .btn {
  border-radius: 5px;
  font-size: 14px;
  padding: 5px 5px;
  cursor: pointer;
}

/* footer */
.footer {
  background-color: rgb(66, 65, 65);
  color: white;
  padding-top: 3px;
}

.footer .container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.footer.row {
  margin-left: -15px;
  margin-right: -15px;
}

.footer .col-md-4,
.col-md-6 {
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 30px;
}

.footer a {
  color: white;
  text-decoration: none;
}

.footer ul {
  list-style: none;
  padding: 0;
}

.footer h3 {
  color: white;
  margin-bottom: 20px;
}

.all-footer-tag h3::after {
  content: " ";
  position: absolute;
  width: 47px;
  left: 0;
  height: 5px;
  bottom: -10px;
}

.footer .socials-link {
  list-style: none;
  padding: 0;
  display: inline-block; /* Display the list in a single line */
}

.footer .socials-link li {
  display: inline-block;
  margin-right: 10px; /* Adjust spacing between social icons */
}

.footer .socials-link img {
  width: 30px;
  height: 30px;
  filter: invert(75%) sepia(100%) saturate(500%) hue-rotate(90deg);
}

.footer .down-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px;
  border-top: 1px solid;
  margin-top: 20px;
}

.footer .down-footer p {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 500;
  font-size: 18px;
  line-height: 19px;
  text-transform: capitalize;
  color: 0.7c7c7c;
}

.footer .down-footer a {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 500;
  font-size: 18px;
  line-height: 19px;
  text-transform: capitalize;
  color: 0.7c7c7c;
}

.footer .down-footer a:hover {
  color: white; /* Change text color on hover */
}
@media (max-width: 768px) {
  .col-md-4,
  .col-md-6 {
    flex-basis: 50%;
  }
}

@media (max-width: 576px) {
  .col-md-4,
  .col-md-6 {
    flex-basis: 100%;
  }
}

/* Tensikahlo */

.tennis-hero-sec {
  /* background-image: url(../../img/landing/hero-bg.jpg); */
  background-color: gray;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: -102px;
  background-size: cover;
  padding: 178px 0 16px;
}

.ultime-box h1 {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 600;
  font-size: 44px;
  line-height: 65px;
  text-transform: uppercase;
  color: white;
  margin-bottom: 25px;
}

.ultime-box p {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 37px;
  text-transform: capitalize;
  color: #ffffff;
}

.download-app-btn {
  position: relative;
  z-index: 1;
  margin-top: 40px;
}

.download-app-btn img {
  overflow-clip-margin: content-box;
  overflow: clip;
}

/* tennis-khelo-app-sec */
section.tennis-khelo-app-sec {
  padding: 70px 0;
}

.pro-player {
  position: relative;
  width: 100%;
}

.pro-player .overlay {
  position: absolute;
  bottom: 0;
  z-index: 1;
  left: 0;
  right: 0;
  overflow: hidden;
  width: 100%;
  height: 50px;
  transition: 0.5s ease;
}

.overlay .text {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  width: 100%;
  line-height: 37px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.pro-player .text {
  position: absolute;
  top: 30%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.read-whole {
  margin-top: 30px;
}

/* App Functionlity */

section.app-functionality-sec {
  background-color: gray;

  padding: 50px 0;
}

.app-functi-text {
  text-align: center;
  margin-bottom: 40px;
}

.app-functi-text h2 {
  position: relative;
  font-family: "Oswald";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 120%;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.app-functi-text p {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  color: #ffffff;
}

.functi-tabs {
  display: flex;
  max-height: 566px;
}

.functi-tabs .nav {
  flex-direction: column;
  border-bottom: none;
  width: 18%;
  padding-top: 70px;
}

.download-khelo-app {
  position: relative;
  padding: 50px 0;
  text-align: center;
  background: linear-gradient(100.58deg, #004c3b 0.54%, #008f70 100%);
  margin-top: -112px;
  position: relative;
}
.functi-tabs li {
  display: list-item;
  text-align: -webkit-match-parent;
}

.functi-tabs li.nav-item button.active,
.functi-tabs li.nav-item button:hover {
  background: none;
  border-left: none;
  border-top: none;
  border-radius: 0px;
  color: #14ae8d;
  border-bottom: none;
}
.functi-tabs .tab-content {
  width: 78%;
}

.functi-tabs .tab-content .tab-pane.active.show {
  display: flex;
}

.my-league-text {
  padding-top: 70px;
  margin-left: 48px;
}

.my-league-text h3 {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 33px;
  text-transform: capitalize;
  color: #ffffff;
  margin-bottom: 20px;
}

.my-league-text p {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: white;
  opacity: 0.8;
}
.app-future {
  margin-top: 50px;
}

.app-future Link.view-app {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  padding: 16px 40px;
  text-transform: uppercase;
  color: #008f70;
  border: 1px solid #008f70;
}

Link:-webkit-any-link {
  color: -webkit-link;
  cursor: pointer;
  text-decoration: underline;
}

.download-app-btn {
  position: relative;
  margin-top: 40px;
  z-index: 1;
}
/* AboutTennsi */

section.about-tennis-sec {
  padding: 50px 0;
  background-color: gray;
  /* background-image: url(../../img/landing/about-bg.png); */
  background-repeat: no-repeat;
  background-position: center;
}

.about-tennis-tex h2 {
  position: relative;
  font-family: "Oswald";
  font-style: normal;
  font-weight: 600;
  font-size: 54px;
  line-height: 89px;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 13px;
}

.about-tennis-tex p {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #ffffff;
  opacity: 0.8;
}

.app-future {
  margin-top: 50px;
}

.app-future a.view-app {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  padding: 16px 40px;
  text-transform: uppercase;
  color: #008f70;
  border: 1px solid #008f70;
}

/* Tournament */

section.tournament-sec {
  padding: 50px 0;
  background-color: #080a0d;
}

.tournament-heading {
  display: flex;
  justify-content: space-between;
}

.tournament-heading h2 {
  position: relative;
  width: 590px !important;
  font-family: "Oswald";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 120%;
  text-transform: uppercase;
  color: #ffffff;
}

.tournament-heading a { font-family: 'Oswald'; 
  font-style: normal;
   font-weight: 600;
    font-size: 18px; 
    line-height: 27px; 
    text-transform: uppercase;
     color: #008F70;
     } 
.tournament-heading a:hover {
   color: #086b56;
   } 

.tournament-box {
  margin-top: 44px;
}

.tournament-box .slick-prev {
  left: 37px;
  background: #fff;
  height: 40px;
  width: 40px;
  z-index: 1;
  border-radius: 50px;
}
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.tournament-box .slick-track {
  display: flex;
  align-items: center;
}

element.style {
  padding: 0px 60px;
}
.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}

.latest-play {
  height: 380px;
  opacity: 0.4;
  overflow: hidden;
}
.latest-play {
  display: flex;
  align-items: center;
  background: linear-gradient(100.58deg, #004c3b 0.54%, #008f70 100%);
}

.latest-text h3 {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 59px;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.latest-text h5 {
  font-family: "Roboto Condensed";
  font-style: italic;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.latest-text p {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
  text-transform: capitalize;
  color: #ffffff;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.latest-text h4 {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 600;
  font-size: 28px;
  line-height: 33px;
  text-transform: capitalize;
  color: #ffffff;
  margin: 20px 0 30px;
  flex: none;
  order: 2;
  flex-grow: 0;
}

.join-academy {
  margin-top: 50px;
}

.join-academy .join-khelo {
  background: #ffffff;
  font-family: "Oswald";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  text-transform: uppercase;
  border: 1px solid #fff;
  color: #008f70;
  padding: 16px 40px;
  margin-right: 30px;
}

.join-academy a.view-khelo {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  text-transform: uppercase;
  color: #ffffff;
  border: 1px solid #fff;
  padding: 16px 40px;
}

.latest-blog-view a:hover {
  color: #086b56;
  } 


/* player ranking */

section.player-ranking {
  padding: 50px 0;
}

.ranking-box h2 {
  position: relative;
  font-family: "Oswald";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 120%;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 15px;
}

.ranking-box p {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  color: #ffffff;
}

.ranking-box h3 {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 33px;
  text-transform: capitalize;
  color: #ffffff;
  margin: 50px 0 25px;
}

.app-future {
  margin-top: 50px;
}

.app-future a.down-app {
  background: #008f70;
  font-family: "Oswald";
  border: 1px solid #008f70;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  padding: 16px 40px;
  border: 1px solid #008f70;
  text-transform: uppercase;
  color: #ffffff;
  margin-right: 40px;
}

.top-player-box {
  background: linear-gradient(100.58deg, #004c3b 0.54%, #008f70 100%);
}

.player-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 35px 30px;
}

.player-head h3 {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 33px;
  text-transform: capitalize;
  color: #ffffff;
}

form {
  display: block;
  margin-top: 0em;
}

.player-head select {
  padding: 10px 26px 10px 10px;
  background: transparent;
  border: 1px solid #fff;
  border-radius: 5px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  text-transform: capitalize;
  color: #e6e6e6;
}

.player-head option {
  color: #fff;
  background: #006d55;
  border-radius: 5px;
}

option {
  font-weight: normal;
  display: block;

  min-height: 1.2em;
  padding: 0px 2px 1px;
}

ul {
  padding: 0;
  list-style: none;
}

li.fst-winner {
  background: #6ab8a7;
  box-shadow: 0px 10px 60px rgba(0, 0, 0, 0.15);
  margin-right: -8px;
  margin-left: -8px;
}
.top-player-box li {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px 10px 30px;
  position: relative;
}

.top-player-box li img.rank-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 56px;
}

.profile-title {
  width: 340px;
}

.top-player-box .fst-winner h4 {
  color: #002d23;
}
.top-player-box h4 {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 500;
  font-size: 16.05px;
  line-height: 24px;
  text-transform: capitalize;
  color: #ffffff;
}

/* Findnear */

section.find-nearby-sec {
  text-align: center;
  background-color: grey;
  padding: 116px 0;
  /* background-image: url(../../img/landing/nearby-bg.jpg); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.nearbybox {
  max-width: 782px;
  margin: auto;
}
.nearbybox h2 {
  position: relative;
  font-family: "Oswald";
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 59px;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 8px;
}
.nearbybox p {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  color: #ffffff;
}
.nearbybox h3 {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 33px;
  text-transform: capitalize;
  color: #ffffff;
  margin: 35px 0 25px;
}

.find-nearby-sec .app-future {
  margin-top: 50px;
}

.nearbybox .app-future a.down-app {
  margin-right: 0;
}

.app-future a.down-app {
  background: #008f70;
  font-family: "Oswald";
  border: 1px solid #008f70;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  padding: 16px 40px;
  border: 1px solid #008f70;
  text-transform: uppercase;
  color: #ffffff;
  margin-right: 40px;
}

section.photo-gallery-sec {
  text-align: center;
  padding: 50px 0;
}
.photo-gallery-sec h2 {
  position: relative;
  font-family: "Oswald";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 44px;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 15px;
}

.photo-gallery-sec p {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  color: #ffffff;
  margin-bottom: 55px;
}

/*  Appdownload*/

section.unlock-tennis-sec {
  padding: 200px 0 50px;
  position: relative;
  margin-top: 50px;
  background-color: black;
}

.ios-app-box {
  position: relative;
  background: linear-gradient(100.58deg, #004c3b 0.54%, #008f70 100%);
  padding: 80px 0;
}

.ios-app-box h2 {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 59px;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 15px;
}

.ios-app-box p {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  color: #ffffff;
}

.download-app-btn {
  position: relative;
  z-index: 1;
}

a {
  text-decoration: none;
  -moz-transition: all 0.2s;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.madmer-phone-img {
  position: absolute;
  top: -180px;
}

/* questionfrequency */

section.faq-sec {
  padding: 70px 0;
  background-color: #004c3b;
  /* background-image: url(../../img/landing/faq-bg.png); */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

section.faq-sec h2 {
  position: relative;
  font-family: "Oswald";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  text-align: center;
  line-height: 120%;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 15px;
}

section.faq-sec h4 {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 500;
  text-align: center;
  font-size: 16px;
  line-height: 140%;
  color: #ffffff;
  margin-bottom: 40px;
}

.faq-box {
  max-width: 820px;
  margin: auto;
}

.faq-box button.accordion-button.collapsed,
.faq-box button.accordion-button {
  background: #12171d !important;
  font-family: "Oswald";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  text-transform: capitalize;
  color: #ffffff;
  padding: 20px;
}

.faq-box .accordion-collapse {
  background: #080a0d;
  border-top: 1px solid #008f70;
}
.accordion-item:not(:first-of-type) {
  border-top: 0;
}
.accordion-item {
  border: 1px solid #008f70;
}
.accordion-item {
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.125);
}

.faq-box .accordion-button:focus {
  border-color: #86b7fe00;
  box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 0%);
}
.accordion-item:first-of-type {
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

/* latest Cart  */

section.latest-blog-sec {
  padding: 50px 0 10px;
  background-color: #080a0d;
}

.latest-blog-view {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.latest-blog-view h2 {
  position: relative;
  font-family: "Oswald";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 120%;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 15px;
}

.latest-blog-view p {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  color: #e9e9e9;
}

.latest-blog-view a {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  text-align: right;
  text-transform: uppercase;
  color: #008f70;
}

.card-body {
  background: black;
}

.card-body .card-title {
  font-family: "Roboto Condensed";
  font-style: italic;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  text-transform: uppercase;
  color: #008f70;
  margin-bottom: 15px;
  padding: 20px 24px 30px 24px;
}

.card-body h3 {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 33px;
  text-transform: capitalize;
  color: #ffffff;
  margin-bottom: 15px;
}

.card-body p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #ffffff;
}

.read-whole {
  margin-top: 30px;
}

.read-whole a {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  color: #008f70;
}
/* background-image: url(../public/border-b.png); */

/* Photo */
section.photo-gallery-sec {
  text-align: center;
  padding: 50px 0;
  background-color: #12171d;
}

.photo-gallery-sec h2 {
  position: relative;
  font-family: "Oswald";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 44px;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 15px;
}

.photo-gallery-sec p {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  color: #ffffff;
  margin-bottom: 55px;
}


/* other apps */

section.other-apps-sec { padding: 100px 0 70px;
background-color: #080a0d; }