.tennis-khelo-app-sec {
  background-color: white; 

}
.live{
  background-image: url("../public/image/BackLive.png");
  margin-bottom: 10px;
}

.live h2{
  color: white;
}

.other-apps-sec{
  background-color:#008F70;
}


.unlock-tennis-sec img{
  width: 100%;
  height: 100%;
}

.faq-sec{
  background-image: url("../public/image/faq.png");
}


.latest-blog-sec{
  background-image: url("../public/image/Blog.png");
  
}
